body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 300px;
    margin: auto;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
